
.gnb {
    max-width: inherit;
    width: 100%;
    position: fixed;
    bottom: 0;
}
.nav {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    & li {
        display: inline-block;
        padding: 15px 30px;
        text-transform: capitalize;    // 첫문자 대문자

        background-clip: padding-box; /* !importanté */
        border: solid 2px transparent; /* !importanté */
        
    }

    & li:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        background: linear-gradient(45deg, #FCBE4C, #FF1E4F, #E400A8);
        z-index: -1;
        margin: -2px;
    }
}
