
// variable
$back-color: #000;
$text-color: #fff;

.wrapper {
    max-width : 780px;
    margin: auto;
    height: 100vh;
    color: $text-color;
    background-color: $back-color;

    & * {
        color: $text-color;
    }
}